# ğŸ“ ì‹¤ìŠµ ë¬¸ì œ í’€ê¸°
ì´ ë…¸íŠ¸ë¶ì€ ë°°ìš´ ë‚´ìš©ì„ ë³µìŠµí•˜ê³  ì—°ìŠµí•˜ëŠ” ê³µê°„ì´ì—ìš”.
ë¬¸ì œë¥¼ ì½ê³  ì½”ë“œë¥¼ ì§ì ‘ ì‘ì„±í•´ë³´ì„¸ìš”! í™”ì´íŒ…! ğŸ’ª

In [6]:
import pandas as pd

# ì˜ˆì‹œ ìƒí’ˆ íŒë§¤ ë°ì´í„°
sales_data = {
    'OrderID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Product': ['Laptop', 'Mouse', 'Laptop', 'Monitor', 'Mouse', 'Keyboard', 'Laptop', 'Mouse', 'Monitor', 'Keyboard'],
    'Quantity': [1, 2, 1, 1, 2, 1, 1, 3, 1, 1],
    'Price': [1200, 25, 1200, 300, 25, 100, 1200, 25, 300, 100],
    'CustomerID': [1001, 1002, 1001, 1003, 1004, 1002, 1001, 1003, 1005, 1002],
    'OrderDate': ['2024-01-05', '2024-01-06', '2024-01-07', '2024-01-10', '2024-01-12', '2024-01-15', '2024-01-18', '2024-01-20', '2024-01-22', '2024-01-25']
}
df_sales = pd.DataFrame(sales_data)               # ë°ì´í„°í”„ë ˆì„(í‘œ) ìƒì„±
df_sales

   OrderID   Product  Quantity  Price  CustomerID   OrderDate
0      101    Laptop         1   1200        1001  2024-01-05
1      102     Mouse         2     25        1002  2024-01-06
2      103    Laptop         1   1200        1001  2024-01-07
3      104   Monitor         1    300        1003  2024-01-10
4      105     Mouse         2     25        1004  2024-01-12
5      106  Keyboard         1    100        1002  2024-01-15
6      107    Laptop         1   1200        1001  2024-01-18
7      108     Mouse         3     25        1003  2024-01-20
8      109   Monitor         1    300        1005  2024-01-22
9      110  Keyboard         1    100        1002  2024-01-25

# 1ë²ˆ

In [7]:
# ì´ êµ¬ë§¤ê¸ˆì•¡ìœ¼ë¡œ ìƒˆë¡œìš´ ì»¬ëŸ¼ ë§Œë“¤ê¸°
df_sales['Total'] = df_sales['Quantity'] * df_sales['Price']

# ê³ ê°ë³„ ì´ êµ¬ë§¤ê¸ˆì•¡ ê³„ì‚°í•˜ê¸°
customer_total = df_sales.groupby('CustomerID')['Total'].sum()  # í•©ê³„ ê³„ì‚°

# ê²°ê³¼ ì¶œë ¥
customer_total

CustomerID
1001    3600
1002     250
1003     375
1004      50
1005     300
Name: Total, dtype: int64

# 2ë²ˆ - Laptopì„ êµ¬ë§¤í•œ ê³ ê°ë“¤ì˜ í‰ê·  êµ¬ë§¤ ê¸ˆì•¡

In [10]:
# 1. ë©íƒ‘ êµ¬ë§¤ì ë°ì´í„° êµ¬í•˜ê¸°
laptop_sales = df_sales[df_sales['Product'] == 'Laptop']
# laptop_sales

# 2. ë©íƒ‘ êµ¬ë§¤ìì˜ ì´ êµ¬ë§¤ê¸ˆì•¡ì˜ í‰ê· 
laptop_avg_purchase = laptop_sales['Total'].mean()  # í‰ê·  ê³„ì‚°
laptop_avg_purchase

np.float64(1200.0)

# 3ë²ˆ - ê°€ì¥ ë§ì´íŒë§¤ëœ ìƒí’ˆì˜ ì´ë¦„ê³¼ íŒë§¤ëœ ì´ ìˆ˜ëŸ‰

In [13]:
# ìƒí’ˆë³„ íŒë§¤ìˆ˜ëŸ‰ í•©ê³„ ê³„ì‚° (groupby ì‚¬ìš© reset_index ì‚¬ìš© ì•ˆí•¨)
product_sales = df_sales.groupby('Product')['Quantity'].sum()  # í•©ê³„ ê³„ì‚°
# product_sales
# idxmax(): ê°€ì¥ í° ê°’ì„ ê°€ì§„ ì¸ë±ìŠ¤ ë°˜í™˜ / max(): ê°€ì¥ í° ê°’ì„ ë°˜í™˜
best_product = product_sales.idxmax()
best_product_qt = product_sales.max()
print(f"ê°€ì¥ ë§ì´ íŒë§¤ëœ ìƒí’ˆ: {best_product} ({best_product_qt}ê°œ)")

ê°€ì¥ ë§ì´ íŒë§¤ëœ ìƒí’ˆ: Mouse (7ê°œ)

# 4ë²ˆ - OrderDateê°€ 2024ë…„ 1ì›” 10ì¼ ì´í›„ì¸ ì£¼ë¬¸ë§Œ í•„í„°ë§í•˜ì—¬ ì¶œë ¥

In [17]:
df_sales
# 1. ëŒ€ì†Œë¹„êµë¥¼ ìœ„í•´ OrderDate ì»¬ëŸ¼ì˜ ê°’ì„ datetime í˜•ì‹ìœ¼ë¡œ ë°˜í™˜ë°›ìŒ
df_sales['OrderDate'] = pd.to_datetime(df_sales['OrderDate'])
# df_sales.info()

# 2 OrderDate > '2024-01-10'ì¸ ë°ì´í„° ì¶œë ¥
filtered_sales = df_sales[df_sales['OrderDate'] > '2024-01-10']
filtered_sales

   OrderID   Product  Quantity  Price  CustomerID  OrderDate  Total
4      105     Mouse         2     25        1004 2024-01-12     50
5      106  Keyboard         1    100        1002 2024-01-15    100
6      107    Laptop         1   1200        1001 2024-01-18   1200
7      108     Mouse         3     25        1003 2024-01-20     75
8      109   Monitor         1    300        1005 2024-01-22    300
9      110  Keyboard         1    100        1002 2024-01-25    100

# 5ë²ˆ - Productë³„ íŒë§¤ëŸ‰ê³¼ ì´ íŒë§¤ ê¸ˆì•¡ì„ ê³„ì‚°í•œ í›„, ì´ë¥¼ ì´. ã…ã„´ë§¤ê¸ˆì•¡ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬

In [19]:
# ìƒí’ˆë³„ íŒë§¤ëŸ‰ê³¼ ì´ íŒë§¤ê¸ˆì•¡(aggí•¨ìˆ˜ ì‚¬ìš©)
product_stats = df_sales.groupby('Product').agg({'Quantity': 'sum', 'Total': 'sum'})
product_stats

# ì´ íŒë§¤ê¸ˆì•¡ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
sorted_stats = product_stats.sort_values(by='Total', ascending=False)  # ê°’ ì •ë ¬í•˜ê¸°
sorted_stats

          Quantity  Total
Product
Laptop           3   3600
Monitor          2    600
Keyboard         2    200
Mouse            7    175

# ì¢…í•©ì‹¤ìŠµ 2

1. ê° ì»¨í…ì¸  íƒ€ì…(`ContentType`)ë³„ë¡œ í‰ê·  í‰ì ì„ ê³„ì‚°í•˜ì„¸ìš”.
2. ê°€ì¥ ë†’ì€ í‰ì ì„ ë°›ì€ `ContentID`ì™€ í•´ë‹¹ í‰ì ì„ êµ¬í•˜ì„¸ìš”.
3. `Movie` ìœ í˜• ì»¨í…ì¸ ì— ëŒ€í•´ í‰ì ì´ 4 ì´ìƒì¸ ì‚¬ìš©ìë“¤ì˜ ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ì„¸ìš”.
4. `ReviewDate`ê°€ 2024ë…„ 2ì›” 10ì¼ ì´í›„ì¸ ë¦¬ë·° ì¤‘ì—ì„œ `Rating`ì´ 4 ì´ìƒì¸ ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ì—¬ ì¶œë ¥í•˜ì„¸ìš”.
5. ê° ì»¨í…ì¸ ë³„(`ContentID`) í‰ê°€í•œ  ìœ ì €ìˆ˜ë¥¼ ê³„ì‚°í•˜ê³ , ì´ë¥¼ ì¶œë ¥í•˜ì„¸ìš”.

In [31]:
import pandas as pd

# ì˜ˆì‹œ ì»¨í…ì¸  ì„ í˜¸ ë°ì´í„°
preference_data = {
    'UserID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'ContentID': [101, 102, 101, 103, 104, 105, 106, 101, 107, 102],
    'ContentType': ['Movie', 'Music', 'Movie', 'Book', 'Movie', 'Music', 'Book', 'Movie', 'Music', 'Book'],
    'Rating': [5, 3, 4, 2, 5, 4, 3, 4, 5, 2],
    'ReviewDate': ['2024-02-01', '2024-02-02', '2024-02-03', '2024-02-05', '2024-02-07', '2024-02-10', '2024-02-12', '2024-02-14', '2024-02-15', '2024-02-20']
}
df_preference = pd.DataFrame(preference_data)     # ë°ì´í„°í”„ë ˆì„(í‘œ) ìƒì„±

In [23]:
# 1.
content_avg_rating = df_preference.groupby('ContentID').agg({'Rating': 'mean'})  # ê·¸ë£¹ë³„ë¡œ ë¬¶ì–´ì„œ ê³„ì‚°

In [29]:
# 2.
# ê°€ì¥ ë†’ì€ í‰ì ì„ ë°›ì€ ì»¨í…ì¸  ë°ì´í„°
max_rating_content = df_preference.loc[df_preference['Rating'].idxmax()]  # ì´ë¦„ìœ¼ë¡œ ë°ì´í„° ì„ íƒ
print(max_rating_content)
print("================")
# ê·¸ ì»¨í…ì¸ ì˜ ContentID
print(max_rating_content['ContentID'])

UserID                  1
ContentID             101
ContentType         Movie
Rating                  5
ReviewDate     2024-02-01
Name: 0, dtype: object
================
101

In [34]:
# 3. df_preference[(ì¡°ê±´) & ì¡°ê±´] í˜•íƒœ
movie_high_rating = df_preference[(df_preference['ContentType'] == 'Movie') & (df_preference ['Rating'] >= 4)]
movie_high_rating

   UserID  ContentID ContentType  Rating  ReviewDate
0       1        101       Movie       5  2024-02-01
2       3        101       Movie       4  2024-02-03
4       5        104       Movie       5  2024-02-07
7       8        101       Movie       4  2024-02-14

In [ ]:
# 4. ë‚ ì§œ ëŒ€ì†Œë¹„êµë¥¼ ìœ„í•´ ReviewDate ì»¬ëŸ¼ì„ datetimeìœ¼ë¡œ ë³€í™˜
df_preference['ReviewDate'] = pd.to_datetime(df_preference['ReviewDate'])

# df_preference[(ì¡°ê±´1) & (ì¡°ê±´2)] í˜•íƒœ
filtered_reviews = df_preference[(df_preference['ReviewDate'] >= '2022-01-01') & (df_preference['ReviewDate'] <= '2022-12-31')]

In [35]:
# 5
content_count = df_preference.groupby('ContentID')['UserID'].count()  # ê·¸ë£¹ë³„ë¡œ ë¬¶ì–´ì„œ ê³„ì‚°
content_count

ContentID
101    3
102    2
103    1
104    1
105    1
106    1
107    1
Name: UserID, dtype: int64

In [ ]:
# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”!